.staff{
  background: linear-gradient(135deg, rgb(20 20 20) 0%, rgb(57 56 56) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgb(55 55 55) 51%, rgb(74 74 74) 60%, rgb(74 73 73) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%) !important;
  position: sticky;
  z-index: 1;
}
.Navbar {
  position: sticky!important;
  z-index: 2;
  background: linear-gradient(135deg, rgba(160, 80, 0, 1) 0%, rgb(232 100 0) 0%, rgb(255 128 1) 0%, rgba(174, 87, 0, 1) 1%, rgba(255, 119, 0, 1) 12%, rgba(242, 129, 0, 1) 17%, rgba(242, 129, 0, 1) 17%,rgb(246, 200, 156) 22%, rgb(244, 198, 160) 22%, rgb(255 169 83) 40%, rgba(242, 129, 0, 1) 49%, rgba(238, 119, 0, 1) 61%, rgba(255, 142, 29, 1) 75%, rgba(255, 132, 9, 1) 88%, rgba(246, 123, 0, 1) 100%);
  height: 45px;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15vw;
  padding-right: 6vw;
  top: 0%;
  position: absolute;
}
.linkGroup {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
}

.link {
  font-family: monospace;
  text-shadow: -3px -2px 3px #896d6d;
  font-weight: bold;
  letter-spacing: 1px;
  height: 100%;
  border-left: 0px solid black;
  width: 50%;
  height: 100%;
  transition: all 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  margin-left: 20px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

.link:hover {
  border-left: 6px solid black;
  width: 75%;
  letter-spacing: 2px;
  
  
}
.dropdownCart {
  position: relative;
  display: inline-block;
  height: 43px;
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 32px;
  padding-left: 25px;
  height: 45px;
  background: black;
  color: white;
  font-weight: bold;
  width: 9vw;
  min-width: 150px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
.dropdownContentCart {
  display: none;
  position: absolute;
  color: black;
  background-color: #f9f9f9;
  min-width: 20vw;
  max-width: 34vw;
  min-height: 50vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 10;
  border-radius: 15px;
  top:38px;
  right: -5.5vw;

}
.dropdownCart:hover .dropdownContentCart {
  display: block;
}
.dropdownContent {
  display: none;
  position: absolute;
  color: black;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 15px;
  margin-left: -2.5vw;
  margin-top: -2.5vh;
  top:65px;
}
.dropdownContent div{

  text-align: center;
}
.dropdownContent div:last-child:hover ,.dropdownContent div:nth-child(5):hover{
  background-color: #F9D86F;
 border-radius: 30px;
 padding: 5px 5px;
}

.dropdown:hover .dropdownContent {
  display: block;
}


.profileImage {
  margin-top: -14px;
  height: 25px;
  border-radius: 50px;
}
